<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<!-- set viewport to device width to make site responsive -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- bootstrap css -->
		<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- custom styles -->
		<link rel="stylesheet" type="text/css" href="main.css">
		<link rel="stylesheet" type="text/css" href="{{pageName}}.css">
		<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
		
		<title>Hikes near me</title>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Take a hike</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					{{#ifequal pageName 'takeahike'}}
						<form class="navbar-form navbar-left" method="get" action="takeahike">
							<div class="form-group">
								<input type="text" name="zipcode" class="form-control" placeholder="Enter zip code" required minlength="5">
								<button type="submit" class="btn btn-default">Go!</button>
							</div>
						</form>
					{{/ifequal}}
					<form class="navbar-form navbar-right">
						{{#ifnotequal pageName 'takeahike'}}
						<a href="/takeahike" class="btn btn-link">Map</a>
						{{/ifnotequal}}
						{{#if user}}
							{{#ifnotequal pageName 'profile'}}
							<a href="/profile" class="btn btn-link">Profile</a>
							{{/ifnotequal}}
						<a href="/logout" class="btn btn-link">Log out</a>
						{{else}}
						<a href="/login" class="btn btn-link">Log in</a>
						<a href="/signup" class="btn btn-link">Sign up</a>
						{{/if}}

					</form>
					
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
