{{> loginheader pageName='login'}}

		{{#if errorMessage}}
    <div class="alert alert-warning">
      <div class="container">{{errorMessage}}</div>
    </div>
  {{/if}}
<div class="container col-md-4">
</div>
<div class="container col-md-4">
	<h2>Log In</h2>
	<br>
	<!-- login form -->
	<form method="POST" action="/login">
		<div class="form-group">
			<input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
		</div>
		<div class="form-group">
			<input type="password" name="password" class="form-control" placeholder="Password" required>
		</div>
		<div class="form-group">
			<a href="/auth/meetup" class="btn btn-block btn-danger">Log in with Meetup</a>
			<input type="submit" class="btn btn-block btn-default" value="Log In">
		</div>
	</form>
</div>