html { 
  background: url(/halfdome.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.zipcode-box {
	position: relative;
	top: 40%;
}