.welcome-box { 
  background: url(/mountains2.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.headline {
	text-align: center;
}

.chat-bubbles {
	padding: 6px 10px;
    margin: 4px;
    background-color: lightgrey;
    border-radius: 5px;
}